CI_ENVIRONMENT = production

app.baseURL = 'https://einvoicing.ethicfin.com/'

database.default.hostname = localhost
database.default.database = ef_api_central
database.default.username = efcentral
database.default.password = EfInvoice@2026
database.default.DBDriver = MySQLi
database.default.port = 3306

app.secretKey = CHANGE_THIS_TO_RANDOM_32_CHAR_STRING
